.DS_Store
.ipynb_checkpoints/
__pycache__/
*.db
*.deb
*.dep
*.exe
*.log
*.out
*.json
*.pkl
*.dat
*.xlsx
*.csv
*.jpg
*.pdf
*.wav
*.mp3
*.avi
*.txt
*.zip
*.zip
*.rdb
*.rkt~
*.so
*.zo
Cvs*
venv-*/
.tmp*/
.idea/
node_modules/
.apl.history
**/_target/
**/_build/
**/target/

.venv/
