.ipynb_checkpoints/
__pycache__/
*.db
*.deb
*.rdb
*.log
*.out
*.json
*.pkl
*.dat
*.xlsx
*.csv
*.jpg
*.pdf
*.mp3
*.avi
*.txt
*.zip
*.exe
*.zip
Cvs*
venv-*/
.tmp*/
.idea/
node_modules/
.apl.history
**/_target/
**/_build/

